.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.buttons__flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons__button {
    background-color: #8e8e8e;
    color: #f0fbec;
    padding: 10px 40px;
    border-radius: 8px;
    transition: 0.2s linear;
    border: 2px solid #8e8e8e;
    cursor: pointer;
}

.buttons__button:hover {
    background-color: #565555;
}

.buttons__button.button__active {
    background-color: inherit;
    border: 2px solid #3f991d;
}
